server:
  port: 8081

spring:
  application:
    name: synthetic-data-generator-ai
  profiles:
    active: local

  liquibase:
    enabled: false

  ai:
    vertex:
      ai:
        gemini:
          project-id: ${GOOGLE_CLOUD_PROJECT}
          location: ${GOOGLE_CLOUD_LOCATION}
          chat:
            options:
              model: gemini-2.5-flash
              temperature: 0.4

langfuse:
  public-key: ${LANGFUSE_PUBLIC_KEY:pk-lf-1234567890}
  secret-key: ${LANGFUSE_SECRET_KEY:sk-lf-1234567890}
  host: ${LANGFUSE_HOST:https://cloud.langfuse.com}
