server:
  port: 8081

spring:
  application:
    name: synthetic-data-generator-ai
  profiles:
    active: local

  liquibase:
    enabled: false

  ai:
    vertex:
      ai:
        gemini:
          project-id: ${GOOGLE_CLOUD_PROJECT}
          location: ${GOOGLE_CLOUD_LOCATION}
          chat:
            options:
              model: gemini-2.5-flash
              temperature: 0.2
